.react-flow__handle-bottom {
  bottom: 2px !important;
}

.react-flow__handle-top {
  top: 3px !important;
}

.react-flow__edges {
  z-index: 1001 !important;
}

.react-flow__edgelabel-renderer {
  z-index: 1002 !important;
}

.node-style {
  border: 1px solid #0984e3;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  color: #0984e3;
}

.custom-node {
  border: 1px solid #0984e3;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  color: #0984e3;
  cursor: pointer;
  line-height: 1.2;
  position: relative;
  word-break: break-all;
}

.custom-node:hover {
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(252, 252, 252) 0%,
    rgb(239, 241, 243) 90%
  );
}

.custom-node .react-flow__handle {
  visibility: hidden;
}
